<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.williamm56i.ymir.persistence.dao.SysCodeDao">
    <resultMap id="BaseResultMap" type="com.williamm56i.ymir.persistence.vo.SysCode">
        <id column="SYS_GROUP" property="sysGroup" jdbcType="VARCHAR" />
        <id column="SYS_NAME" property="sysName" jdbcType="VARCHAR" />
        <result column="SYS_VALUE" property="sysValue" jdbcType="VARCHAR" />
        <result column="MEMO" property="memo" jdbcType="VARCHAR" />
        <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
        <result column="UPDATE_ID" property="updateId" jdbcType="VARCHAR" />
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
        SYS_GROUP, SYS_NAME, SYS_VALUE, MEMO, CREATE_ID, CREATE_DATE, UPDATE_ID, UPDATE_DATE
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from SYS_CODE
    </select>
    <select id="selectByGroup" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from SYS_CODE
        <where>
            SYS_GROUP = #{sysGroup,jdbcType=VARCHAR}
        </where>
    </select>
</mapper>